.content-area {
  display: flex;
  width: 100%;
  height: 549px;
  justify-content: center;
  background: burlywood;

  &_main {
    margin-bottom: 20px;
    margin-top: 20px;
    width: 85%;
    background: lightcyan;
    display: flex;
    flex-direction: column;
      &-twitArea{
        height: 15%;
        border: 2px solid gainsboro;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-textArea{
          display: flex;
          justify-content: center;
          width: 15%;
          height: 100%;
        }
        &-btnArea{
          width: 75%;
          height: 100%;
          display: flex;
          justify-content: flex-end;
          &-btnSubmit{
            &_hidden {
              display: none;
            }
          }
          &-btn{
            &_hidden {
              display: none;
            }
          }
        }
        &-btn{width: 10%}
        &-input{
          &_hidden {
            display: none;
          }
        }
      }
      &-twitShowArea{
        height: 85%;
        &-second {
          margin: 15px 15px 0px 15px;
          height: 90%;
          border: 2px solid gainsboro;
          display: flex;
          flex-direction: row;

          &_block1 {
            width: 30%;
            border: 1px solid gainsboro;

            &-titleMessage {
              border: 1px solid gainsboro;
            }

            &-message {
              height: 360px;
              overflow: overlay;

              &-title {
                &_done {
                  background-color: green;
                }
              }
            }
          }

          &_block2 {
            width: 50%;
            border: 1px solid gainsboro;

            &-descriptionMessage {
              border: 1px solid gainsboro;
            }

            &-message {
              height: 360px;
              overflow: overlay;
            }
          }

          &_block3 {
            width: 20%;
            border: 1px solid gainsboro;

            &-actionMessage {
              border: 1px solid gainsboro;
            }

            &-action {
              height: 360px;
              overflow: overlay;
              &-buttons{
                display: flex;
                height: 21.6px;
              }
            }
          }
        }
        }
      }
  }